<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KnightManager: Administrationsoberfläche</title>
		<link href="./style/bootstrap.css" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<div class="container">
			<form method="post" action="login.php">
				<label for="user">Benutzername</label>
				<input type="text" name="user"/>

				<label for="password">Passwort</label>
				<input type="password" name="password"/>

				<input type="submit" value="Login"/>
			</form>
		</div>
	</body>
</html>